* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2122;
}

/* -------------------navbar-------------------------- */
.logo {
  font-size: 20px;
  font-weight: 700;
}
.logo span {
  color: #567bff;
}

.navbar {
  background-color: #1f2122;
}

.sidebar {
    margin: 0  10px 15px 10px;
    width: 110px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.61); */
    /* background-image: radial-gradient(circle, #000000, #1d0c0d, #2f1411, #3f1c0e, #4c2705); */
    background-color: #1f2122;
}


.search {
  background-color: rgb(63, 63, 63);
}
/* ------------------------end navbar----------------------- */

.btn {
    background-color: #d0edf1;
    color: black;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    height: 40px;
}


.btn1 {
    background-color: #d0edf1;
    color: black;
    border: none;
}

/* CSS */
.btn3 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;

}

.btn3:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .btn3 {
    padding: 0 1rem;
  }
}

.bg2 {
  background: #363636;
}

/* -------------hero container-------------- */
.section-hero {
  background-image: url(/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  border-radius: 30px;
  margin: 0;
}

.section-content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: center;
}

.section-content p {
  margin-bottom: 10px;
  font-size: 20px;
}

.section-content h1 {
  font-size: 40px;
  font-weight: 800;
}

.section-content h1 span {
  color: #e75e8d;
}

.browse {
  width: max-content;
  margin-top: 20px;

}
/* --------------end hero content------------------- */

/* --------------------category---------------------- */
.bg-card {
  background-color: rgb(46, 46, 46);
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.61);
}



/* --------------------end category---------------------- */

.form-create {
  width: 80%;
  margin: auto;
}


@media screen and (max-width: 1248px) {
  .form-create {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .form-create {
    width: 90%;
  }
}
